Power_Automate_Compass_Group_USA/Microsoft.Flow/flows/3b9486ca-8552-4379-b0b9-0571d017bddd/definition.json
{"name":"17903091-8fe3-4884-a43c-47cdb694d80f","id":"/providers/Microsoft.Flow/flows/17903091-8fe3-4884-a43c-47cdb694d80f","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"PO_Ibotix_Final_Demo","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":"","creator":{"id":"ed27daa3-537a-4cb1-a943-657a482646f8","type":"User","tenantId":"be03a387-7738-4574-811e-c93f76375642"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-04-19T12:01:05.1597923Z","connectionKeySavedTimeKey":"2024-04-18T15:11:45.5284321Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Hour","interval":4,"startTime":"2024-04-19T04:30:00.000Z"},"metadata":{"operationMetadataId":"2acd9c57-d442-499a-ad90-da97ffed8542"},"type":"Recurrence"}},"actions":{"Variable_for_reading_excel_sheet_of_One_Drive":{"runAfter":{},"metadata":{"operationMetadataId":"e76b0c04-e186-4340-b702-a3495f286365"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ExcelItem","type":"integer","value":2}]}},"Reads_the_config_file_from_OneDrive":{"runAfter":{"Variable_for_reading_excel_sheet_of_One_Drive":["Succeeded"]},"metadata":{"012ZR7CJ57PLBJQLDV2VE3PASTPYD5ZWUL":"/PO_Demo.xlsx","operationMetadataId":"ba35a77c-e8cb-4b5d-b2b1-1b0b5ba23611","tableId":"{3D7A42B7-FA6B-4C2F-937C-96B998AEC35F}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"me","drive":"b!Hs9IOrDFHEmqO0mqAzFQpLZUj_seOi5BmGo3p25NYbQX-J7gyLxtQopAm7xOHkFh","file":"012ZR7CJ57PLBJQLDV2VE3PASTPYD5ZWUL","table":"{3D7A42B7-FA6B-4C2F-937C-96B998AEC35F}"},"authentication":"@parameters('$authentication')"}},"Increment_variable_2":{"runAfter":{"Reads_the_config_file_from_OneDrive":["Succeeded"]},"metadata":{"operationMetadataId":"1e036412-5f8c-47bb-b093-cadc15b9e7ad"},"type":"IncrementVariable","inputs":{"name":"ExcelItem","value":1}},"Get_emails_(V3)":{"runAfter":{"Increment_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"87d52304-1927-44d8-84a4-2a86f6a2ffe7"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"GetEmailsV3"},"parameters":{"folderPath":"Inbox","fetchOnlyUnread":true,"mailboxAddress":"anjani.sharma@ibotix.in;","includeAttachments":true,"importance":"Any","fetchOnlyWithAttachment":false,"subjectFilter":"PO"},"authentication":"@parameters('$authentication')"}},"Initialize_variable":{"runAfter":{"Get_emails_(V3)":["Succeeded"]},"metadata":{"operationMetadataId":"eefef981-7dc2-4121-95d2-eaec4f537854"},"type":"InitializeVariable","inputs":{"variables":[{"name":"i","type":"integer","value":2}]}},"Initialize_variable_3":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"74504c4d-d911-4e5a-9f01-32e67bc171ed"},"type":"InitializeVariable","inputs":{"variables":[{"name":"k","type":"integer","value":2}]}},"Loop_for_condition":{"foreach":"@outputs('Reads_the_config_file_from_OneDrive')?['body/value']","actions":{"Apply_to_each_3":{"foreach":"@outputs('Get_emails_(V3)')?['body/value']","actions":{"Condition":{"actions":{"Update_a_row":{"runAfter":{},"metadata":{"012ZR7CJ57PLBJQLDV2VE3PASTPYD5ZWUL":"/PO_Demo.xlsx","operationMetadataId":"7f71a28a-921b-4afa-b76e-686445dc7d07"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"PatchItem"},"parameters":{"source":"me","drive":"b!Hs9IOrDFHEmqO0mqAzFQpLZUj_seOi5BmGo3p25NYbQX-J7gyLxtQopAm7xOHkFh","file":"012ZR7CJ57PLBJQLDV2VE3PASTPYD5ZWUL","table":"{3D7A42B7-FA6B-4C2F-937C-96B998AEC35F}","idColumn":"Status","id":"Reject","item/Status":"Approve","item/Email_Status":"Yes"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"and":[{"equals":["@items('Apply_to_each_3')?['subject']","Approval"]},{"equals":["@items('Apply_to_each_3')?['from']","@items('Loop_for_condition')?['Email_Send']"]}]},"metadata":{"operationMetadataId":"5bd26d54-a9ef-42a2-b100-5598028dfc4c"},"type":"If"},"Increment_variable_3":{"runAfter":{"Condition":["Succeeded"]},"metadata":{"operationMetadataId":"0bcdf5bf-90ae-438e-9ca2-8caf3ddac7da"},"type":"IncrementVariable","inputs":{"name":"k","value":1}}},"runAfter":{},"metadata":{"operationMetadataId":"26d5512c-650c-4d03-9e52-63e03e1d7ec4"},"type":"Foreach"}},"runAfter":{"Initialize_variable_3":["Succeeded"]},"metadata":{"operationMetadataId":"fc6fce82-97b1-49f3-9758-4a925ea35f0b"},"type":"Foreach"},"Increment_variable":{"runAfter":{"Loop_for_condition":["Succeeded"]},"metadata":{"operationMetadataId":"7b6eaf08-9322-4099-aee0-2428c9caa517"},"type":"IncrementVariable","inputs":{"name":"i","value":1}},"Initialize_variable_1":{"runAfter":{"Increment_variable":["Succeeded"]},"metadata":{"operationMetadataId":"f1a4b107-dc32-4cc4-b339-90b020fb829a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"j","type":"integer","value":2}]}},"Apply_to_each_5":{"foreach":"@outputs('Reads_the_config_file_from_OneDrive')?['body/value']","actions":{"Condition_2":{"actions":{},"runAfter":{},"else":{"actions":{"Apply_to_each":{"foreach":"@outputs('Reads_the_config_file_from_OneDrive')?['body/value']","actions":{"Send_an_email_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"55b40941-07c7-40ac-bb37-9097d8e308d8"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@items('Apply_to_each')?['Email_Send']","emailMessage/Subject":"@items('Apply_to_each')?['PO']","emailMessage/Body":"<h2>Approval Request</h2><p><b>Dear Sir,</b></p><p> &nbsp; We have shared PO Details</p><p>Please Approve or Reject the Email</p><form><a href=\"mailto:anjani.sharma@ibotix.in?subject=Purchase%20Order%20Approval&body=Thankyou,%20your%20response%20has%20been%20recorded%20as%20an%20approval.\" class=\"button\">Approve</a>&nbsp;&nbsp;&nbsp; &nbsp;<a href=\"mailto:anjani.sharma@ibotix.in?subject=Purchase%20Order%20Rejection&body=Thankyou,%20your%20response%20has%20been%20recorded%20as%20a%20rejection%20I%20will%20connect%20with%20you%20later.\" class=\"button\">Reject</a></form><p>Thank you,</p><p>This is auto genrated email, Please do not reply to this email<p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"metadata":{"operationMetadataId":"eae8cece-ccf2-4d8c-bef1-c78daca194c6"},"type":"Foreach"}}},"expression":{"equals":["@items('Apply_to_each_5')?['Email_Status']","Yes"]},"metadata":{"operationMetadataId":"bbbdff8b-c799-47ae-a4cb-82c4959971ef"},"type":"If"},"Increment_variable_4":{"runAfter":{"Condition_2":["Succeeded"]},"metadata":{"operationMetadataId":"84d432e2-f657-402c-bb4c-6b503691de3a"},"type":"IncrementVariable","inputs":{"name":"j","value":1}}},"runAfter":{"Initialize_variable_1":["Succeeded"]},"metadata":{"operationMetadataId":"fb2274b3-8b05-48d8-b01c-22d58602f91c"},"type":"Foreach"}}},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"38966dc5a7dc48ef95bb1b16ae93b372","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"},"shared_office365":{"connectionName":"f759e50bc9e84c4c913c336815990cb1","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}